.app-modal-main {
  width: 40%;
  margin: auto;
  top: 5% !important;
}

.app-modal-box-main {
  background-color: white;
}

.app-modal-header {
  background-color: #eef2fd;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 1.3rem;
}

.app-modal-body {
  padding: 20px 10px;
}

.app-modal-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  padding-bottom: 10px;
  gap: 10px;
}

.app-modal-cancel-btn,
.app-modal-save-btn {
  background-color: rgb(207, 50, 50);
  padding: 6px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.app-modal-save-btn {
  background-color: rgb(90, 90, 235);
}

.app-modal-question {
  font-size: 1.2rem;
}

.app-modal-reasons-list {
  margin-top: 7px;
  margin-left: 10px;
  font-size: 1.1rem;
}
